{% extends 'base.html' %}

{% load filters %}

{% block extracss %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">
{% endblock extracss %}

{% block current_page %}current="#top_projects";{% endblock current_page %}

{% block title %}Projects {{ year }} &ndash; {{ year2 }}{% endblock title %}

{% block content %}
    <div class="row">
        <h4 class="span3">
            {% if prev_year %}
                <a href="{% url cms:projects_year_url year=prev_year%}">&laquo; Projects {{ prev_year }} &ndash; {{ prev_year2 }}</a>
            {% else %}
                &nbsp;
            {% endif %}
        </h4>

        <h2 class="span6" style="text-align: center;">
            Projects {{ year }} &ndash; {{ year2 }}
        </h2>

        <h4 class="span-6 last" style="text-align: right;">
            {% if next_year %}
                <a href="{% url cms:projects_year_url year=next_year%}">Projects {{ next_year }} &ndash; {{ next_year2 }} &raquo;</a>
            {% else %}
                &nbsp;
            {% endif %}
        </h4>
    </div>

    {% if projects %}
        <div class="row">
            <div class="span9" id="projects">
            {% for project in projects %}
                <div class="row">
                    <div class="span8">
                        {% if project.image %}
                            <img class="span-6" style="margin-bottom: 2em;" src="{{ MEDIA_URL }}{{ project.image }}" width="35%" />
                        {% else %}
                            <!--img class="span-6" style="margin-bottom: 2em;" src="{{ STATIC_URL }}images/octocat.jpg" width="35%" /-->
                            <div class="span-6" style="margin-bottom: 2em;"></div>
                        {% endif %}

                        <dl class="span4">
                            <a name="{{ project.pk }}"></a>
                            <h3>
                                {{ project.title }}
                                {% if user|can_edit_project:project %}
                                    <small><a href="{% url cms:edit_project_url pk=project.pk %}">edit</a></small>
                                {% endif %}
                                {% if user|can_delete_project:project %}
                                    <small><a href="{% url cms:delete_project_url pk=project.pk %}">delete</a></small>
                                {% endif %}
                            </h3>
                            {{ project.description|stripjs }}
                            <dt style="padding-top: 5px;">Members</dt>
                            <dd>
                                <ul class="unstyled">
                                    {% for project_member in project.projectmember_set.all %}
                                        {% if project_member.member %}
                                            <li>
                                                <a href="{% url cms:profile_url pk=project_member.member.pk %}">{{ project_member.member }}</a>
                                                {% if project_member.role %} ({{ project_member.role }}){% endif %}
                                            </li>
                                        {% else %}
                                            <li>{{ project_member.volunteer_name }} (Volunteer)</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="span3">
            {% for project_group in project_groups %}
                {% if project_group.projects %}
                    <div class="index">
                        <h3>{{ project_group.group }}</h3>
                        <ul>
                            {% for project in project_group.projects %}
                                <li><a href="{% url cms:projects_year_url year=project.year %}#{{ project.pk }}">{{ project.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% else %}
        No projects available.
    {% endif %}
{% endblock content %}
