<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ SLC_NAME }} - {% block title %}{% endblock title %}</title>

    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/formly.min.css"/>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block extracss %}{% endblock extracss %}

    <script type="text/javascript">
        var globals = {};

        globals.urls = {
            'tagCloudUrl': "{% url 'cms:tag_cloud_url' %}"
        }
    </script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/less.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core.js"></script>

    <!-- jQuery 2.1.0 -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.ncsu.edu/brand-assets/bootstrap/js/bootstrap.min.js">
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            function fadeTopBar() {
                if ($('body').scrollTop() > 30) {
                    $('.topbar').css('opacity', 0.7);
                } else {
                    $('.topbar').css('opacity', 1.0);
                }
            }

            $(window).scroll(fadeTopBar);

            $('.topbar').hover(
                    function () {
                        $('.topbar').css('opacity', 1.0);
                    }, function () {
                        fadeTopBar();
                    }
            );

            var current = "";
            {% block current_page %}{% endblock current_page %}
            if (current != "") {
                $(current).addClass("current_nav");
            }
        });
    </script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19754192-4']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <script type="text/javascript">var switchTo5x = true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({
        publisher: "d520055b-a8cd-4c41-ab83-3a408f5d0315",
        doNotHash: false,
        doNotCopy: false,
        hashAddressBar: true
    });</script>


    {% block extrajs %}{% endblock extrajs %}
</head>

<body>
{% load filters %}
{% if user|is_slc_leader %}


    <nav class="navbar nav-inverse" role="navigation">
        <div class="container-fluid">
            <a class="brand" href="{% url 'cms:homepage_url' %}">Stars CMS</a>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'cms:homepage_url' %}">Admin Home</a></li>
                <li><a href="{% url 'cms:create_project_url' %}">Create Project</a></li>
                <li><a href="{% url 'cms:create_member_url' %}">Create Member</a></li>
                <li><a href="{% url 'cms:create_page_url' %}">Create Page</a></li>
                <li><a href="{% url 'cms:sponsors_url' %}">Edit Sponsors</a></li>
                <!--li><a href="#">Create News</a></li-->
            </ul>
        </div>
    </nav>
    <div class="shiv"></div>
{% endif %}

<div class="container">
    <div class="row" style="padding-top:2%">
        <div class="col-xs-2 col-md-1">
            <a href="{% url 'cms:homepage_url' %}"><img class="img-responsive"
                                                        src="{{ STATIC_URL }}images/Stars_logo_transparent.png"/></a>
        </div>
        <div class="col-xs-8 col-md-10" id="logo">
            {{ SLC_NAME }}
        </div>
        <div class="col-xs-2 col-md-1">
            <a href="http://www.nsf.gov/"><img class="img-responsive"
                                               src="{{ STATIC_URL }}images/NSFlogoTrans.png"/></a>
        </div>
    </div>
    <!-- end row -->

    <div id="mainNavTop" class="row">
        <div class="col-md-offset-10">
            {% if user|logged_in %}
                {% if user.get_profile %}
                    Welcome<a href="{% url 'cms:profile_url' pk=user.get_profile.pk %}">
                    {{ user.get_full_name|default:"No Name" }}</a>!
                    <a href="{% url 'cms:profile_url' pk=user.get_profile.pk %}">My Profile</a> |
                    <a href="{% url 'cms:blog_url' pk=user.get_profile.pk %}">My Blog</a>
                {% else %}
                    Welcome No Profile!
                {% endif %}
            {% endif %}
        </div>
    </div>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active" id="top_home"><a href="{% url 'cms:homepage_url' %}">Home</a></li>
                    <li id="top_projects"><a href="{% url 'cms:projects_url' %}">Projects</a></li>
                    <li id="top_members"><a href="{% url 'cms:members_url' %}">People</a></li>
                    <li id="top_blogs"><a href="{% url 'cms:blogs_people_url' %}">Blogs</a></li>
                    {% for page in menu_pages %}
                        <li id="top_{{ page.pk }}"><a
                                href="{% url 'cms:page_url' slug=page.slug %}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if user|logged_in %}
                            <a class="navbar-link" href="{% url 'cms:logout_url' %}">Logout</a>
                        {% else %}
                            <a class="navbar-link" href="{% url 'cms:login_url' %}">Login</a>
                        {% endif %}
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->


        </div>
        <!-- /.container-fluid -->
    </nav>

    {% block content %}{% endblock content %}

    <div id="footer" class="row">
        <div class="col-md-12">
            &copy; {% now "Y" %} {{ SLC_NAME }}
        </div>
    </div>
</div>
</body>
</html>
