{% extends 'base-new.html' %}

{% load filters %}

{% block title %}Home{% endblock title %}
{% block current_page %}current="#top_home";{% endblock current_page %}

{% block extrajs %}
    {% if empty_profile %}
        <script type="text/javascript">
            $(window).load(function () {
                if (confirm('You have an empty member profile!  Would you like create one now?')) {
                    var url = "{% url 'cms:edit_profile_url' pk=empty_profile.pk %}";
                    window.location.href = url;
                }
            });
        </script>
    {% endif %}

    {% if empty_projects %}
        <script type="text/javascript">
            $(window).load(function () {
                if (confirm('You coordinate projects with empty listings!\n\n' +
                        {% for project in empty_projects %}
                            '\t{{ project.title|stripjs|escapejs }}\n' +
                        {% endfor %}
                        '\nWould you like create {{ empty_projects|first|field:"title"|stripjs|escapejs }} now?')) {
                    var url = '{% url 'cms:edit_project_url' pk=empty_projects|first|field:"pk" %}';
                    window.location.href = url;
                }
            });
        </script>
    {% endif %}
{% endblock extrajs %}


{% block content %}
    <section id="home">
        <div id="main-slider" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="{{ STATIC_URL }}images/game-header.jpg" alt="slider">

                    <div class="carousel-caption">
                        <h2>Learn. Engage. Mentor.</h2>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--/#home-->

    <br/>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="col-xs-offset-1 col-xs-10">
                            <center><h2>
                                NCSU STARS Alliance
                            </h2>
                            <p style="color: #737373;">The NCSU STARS (Students & Technology in Academia, Research and Service) Student
                                Leadership
                                Corps (SLC) is a student organization that provides students with the opportunity to
                                learn more
                                about computer science careers, participate in service and outreach programs to local
                                schools,
                                engage in research, meet with leaders in the computer field, all while earning a
                                stipend!</p></center>
                        </div>
                    </div>

                    <div class="col-xs-3" style="border-left: 1px solid #ccc;">
                        <div class="col-xs-12">
                            <br>
                        <center><p>STARS is funded by the <a href="http://www.nsf.gov/">National Science Foundation</a>.</p>
                        <div class="col-xs-offset-1 col-xs-9">
                            <img class="img-responsive" src="{{ STATIC_URL }}images/NSFlogoTrans.png"/></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="mainContent" class="col-xs-12 col-md-12">
            <!-- 5 project types -->
            <div class="panel panel-default">
                <h2>
                    <center>What We Do</center>
                </h2>
                <div class="panel-body">
                    <div class="col-xs-5ths col-sm-5ths col-md-5ths">

                        <div class="card people">
                            <div class="card-top">
                                <a href="#">
                                    <img src="{{ STATIC_URL }}images/community_outreach.png" alt=""
                                         class="img-responsive"/>
                                </a>
                            </div>
                            <div class="card-info">
                                <a class="title" href="#">Outreach</a>

                                <div class="desc">Collaborate with local K-12 schools to mold the minds of the future,
                                    encouraging
                                    a future in computing.
                                </div>
                            </div>
                            <div class="card-bottom">

                            </div>
                        </div>

                    </div>
                    <div class="col-xs-5ths col-sm-5ths col-md-5ths">
                        <div class="card people">
                            <div class="card-top">
                                <a href="#">
                                    <img src="{{ STATIC_URL }}images/research.jpg" alt="" class="img-responsive"/>
                                </a>
                            </div>
                            <div class="card-info">
                                <a class="title" href="#">Research</a>

                                <div class="desc">Experience the innovative world of computing by going beyond the
                                    classroom with
                                    hands-on learning.
                                </div>
                            </div>
                            <div class="card-bottom">

                            </div>
                        </div>

                    </div>
                    <div class="col-xs-5ths col-sm-5ths col-md-5ths">
                        <div class="card people">
                            <div class="card-top">
                                <a href="#">
                                    <img src="{{ STATIC_URL }}images/service2.jpg" alt="" class="img-responsive"/>
                                </a>
                            </div>
                            <div class="card-info">
                                <a class="title" href="#">Service</a>

                                <div class="desc">Give back to the community by using your technical skills to solve
                                    real world problems.
                                </div>
                            </div>
                            <div class="card-bottom">

                            </div>
                        </div>

                    </div>
                    <div class="col-xs-5ths col-sm-5ths col-md-5ths">
                        <div class="card people">
                            <div class="card-top">
                                <a href="#">
                                    <img src="{{ STATIC_URL }}images/internship.jpg" alt="" class="img-responsive"/>
                                </a>
                            </div>
                            <div class="card-info">
                                <a class="title" href="#">Internship</a>

                                <div class="desc">
                                </div>
                            </div>
                            <div class="card-bottom">

                            </div>
                        </div>

                    </div>
                    <div class="col-xs-5ths col-sm-5ths col-md-5ths">
                        <div class="card people">
                            <div class="card-top">
                                <a href="#">
                                    <img src="{{ STATIC_URL }}images/organizational.jpg" alt="" class="img-responsive"/>
                                </a>
                            </div>
                            <div class="card-info">
                                <a class="title" href="#">Organizational</a>

                                <div class="desc">
                                </div>
                            </div>
                            <div class="card-bottom">

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <a class="btn btn-primary btn-lg" href="{% url 'cms:projects_url' %}">View All Projects</a>
                            <a class="btn btn-primary btn-lg" href="/page/s/joining">Join STARS <i class="fa fa-chevron-circle-right"></i> </a>
                        </div>
                    </div>
                </div>
                <!--end panel body -->
            </div>
            <!--end panel -->

        </div>
        <!-- end col -->

        <div class="col-xs-6 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2><center>Upcoming Events</center></h2>
                    <iframe src="https://www.google.com/calendar/b/0/embed?mode=AGENDA&height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=raleigh.stars.leaders%40gmail.com&amp;color=%235229A3&amp;src=4iula4kojj0lcqtjn2togdsq6g%40group.calendar.google.com&amp;color=%232952A3&amp;src=ovp44lrp7r12lv0rfqtcggnnu4%40group.calendar.google.com&amp;color=%23528800&amp;src=g00hu6iar9sq7g6stg56uvnl8k%40group.calendar.google.com&amp;color=%23AB8B00&amp;src=efh67duuskvs25r47nedm4fpts%40group.calendar.google.com&amp;color=%23BE6D00&amp;src=nr8orpugchk90blo00gfng2ogk%40group.calendar.google.com&amp;color=%23B1365F&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
                </div>
             </div>
        </div>

        <div class="col-xs-6 col-md-5">
            <!-- blog posts, -->

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Recent Blog Posts</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-1"><a href="{% url 'cms:blogs_rss_url' %}"><img
                            src="{{ STATIC_URL }}images/feed-icon-14x14.png" alt="RSS"/></a></div>

                    {% for blog in blog_posts %}
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-12">
                                        <h5><strong><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></strong>
                                        </h5>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img src="http://placehold.it/64x64" alt=""></a>
                                    </div>
                                    <div class="col-md-9">
                                        <p style="color:#737373"> {{ blog.post|truncatewords:18 }} <a
                                                class="btn btn-xs btn-primary" href="{{ blog.get_absolute_url }}">Read
                                            more</a></p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            <i class="fa fa-user"></i> by <a
                                                href="{% url 'cms:profile_url' pk=blog.author.pk %}"
                                                style="text-decoration: none">
                                            {{ blog.author }}</a>
                                            | <i class="fa fa-calendar"></i> {{ blog.date }}

                                            {% if blog.tags.count > 0 %}
                                                | <i class="fa fa-tags"></i> Tags:
                                                {% for tag in blog.tags.all %}
                                                    <span class="label label-info">{{ tag }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                    {% endfor %}
                </div>
                <!-- end panel body -->
            </div>
            <!-- end panel -->

        </div>
        <!-- end col -->

    </div><!-- end row -->

    <section id="sponsor">
        <div class="row">
            <div class="col-xs-12 col-md-12 last sponsor-wrapper">
                <h2>
                    <center>Sponsors</center>
                </h2>
                {% for sponsor in sponsors %}
                    {% if sponsor.image %}
                        <img alt="{{ sponsor.name }}" src="{{ MEDIA_URL }}{{ sponsor.image }}"
                             width="{{ sponsor_image_width }}%"/>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}

</div>