{% extends 'base-new.html' %}

{% load filters %}

{% block title %}Home{% endblock title %}
{% block current_page %}current="#top_home";{% endblock current_page %}

{% block extrajs %}
    {% if empty_profile %}
        <script type="text/javascript">
            $(window).load(function () {
                if (confirm('You have an empty member profile!  Would you like create one now?')) {
                    var url = "{% url 'cms:edit_profile_url' pk=empty_profile.pk %}";
                    window.location.href = url;
                }
            });
        </script>
    {% endif %}

    {% if empty_projects %}
        <script type="text/javascript">
            $(window).load(function () {
                if (confirm('You coordinate projects with empty listings!\n\n' +
                        {% for project in empty_projects %}
                            '\t{{ project.title|stripjs|escapejs }}\n' +
                        {% endfor %}
                        '\nWould you like create {{ empty_projects|first|field:"title"|stripjs|escapejs }} now?')) {
                    var url = '{% url 'cms:edit_project_url' pk=empty_projects|first|field:"pk" %}';
                    window.location.href = url;
                }
            });
        </script>
    {% endif %}
{% endblock extrajs %}


{% block content %}
    <section id="home">
        <div id="main-slider" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="{{ STATIC_URL }}images/game-header.jpg" alt="slider">

                    <div class="carousel-caption">
                        <h2>Learn. Engage. Mentor.</h2>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--/#home-->

    <br/>
    <div class="row">
        <div id="mainContent" class="col-xs-12 col-md-12">
            <!-- 5 project types -->
            <div class="panel panel-default">
                <h2><center>What We Do</center></h2>
                <div class="panel-body">
                    <div class="col-xs-5ths col-sm-5ths col-md-5ths">
                        <div class="well well-lg">
                            <div class="well well-sm">
                                <img src="{{ STATIC_URL }}images/community_outreach.png" alt="community outreach" class="img-circle img-responsive" />
                            </div>
                            <h5>Outreach</h5>
                            <p>In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit</p>
                        </div>
                    </div>
                    <div class="col-xs-5ths col-sm-5ths col-md-5ths">
                        <div class="well well-lg">
                            <div class="well well-sm">
                                <img src="{{ STATIC_URL }}images/community_outreach.png" alt="community outreach" class="img-circle img-responsive" />
                            </div>
                            <h5>Outreach</h5>
                            <p>In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit</p>
                        </div>
                    </div>
                    <div class="col-xs-5ths col-sm-5ths col-md-5ths">
                        <div class="well well-lg">
                            <div class="well well-sm">
                                <img src="{{ STATIC_URL }}images/community_outreach.png" alt="community outreach" class="img-circle img-responsive" />
                            </div>
                            <h5>Outreach</h5>
                            <p>In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit</p>
                        </div>
                    </div>
                    <div class="col-xs-5ths col-sm-5ths col-md-5ths">
                        <div class="well well-lg">
                            <div class="well well-sm">
                                <img src="{{ STATIC_URL }}images/community_outreach.png" alt="community outreach" class="img-circle img-responsive" />
                            </div>
                            <h5>Outreach</h5>
                            <p>In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit</p>
                        </div>
                    </div>
                    <div class="col-xs-5ths col-sm-5ths col-md-5ths">
                        <div class="well well-lg">
                            <div class="well well-sm">
                                <img src="{{ STATIC_URL }}images/community_outreach.png" alt="community outreach" class="img-circle img-responsive" />
                            </div>
                            <h5>Outreach</h5>
                            <p>In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit</p>
                        </div>
                    </div>

                </div>
                <!--end panel body -->
            </div>
            <!--end panel -->

        </div>
        <!-- end col -->

        <div class="col-xs-6 col-md-8">
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-xs-12">
                        The NCSU STARS (Students & Technology in Academia, Research and Service) Student Leadership Corps (SLC) is a student organization that provides students with the opportunity to learn more about computer science careers, participate in service and outreach programs to local schools, engage in research, meet with leaders in the computer field, all while earning a stipend!
                    </div>
                </div>
                <br>
                <div class="row">
                        <div class="col-xs-9">
                            <p>STARS is funded by the <a href="http://www.nsf.gov/">National Science Foundation</a>.</p>
                        </div>
                        <div class="col-xs-3">
                            <img class="img-responsive img-thumbnail" src="{{ STATIC_URL }}images/NSFlogoTrans.png"/>
                        </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-4">
        <!-- blog posts, -->

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Recent Blog Posts</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-1"><a href="{% url 'cms:blogs_rss_url' %}"><img
                            src="{{ STATIC_URL }}images/feed-icon-14x14.png" alt="RSS"/></a></div>

                    {% for blog in blog_posts %}
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-12">
                                        <h5><strong><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></strong>
                                        </h5>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#" class="thumbnail"><img src="http://placehold.it/260x260" alt=""></a>
                                    </div>
                                    <div class="col-md-9">
                                        <p> {{ blog.post|truncatewords:18 }} </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            <span class="glyphicon glyphicon-user"></span> by <a
                                                href="{% url 'cms:profile_url' pk=blog.author.pk %}">{{ blog.author }}</a>
                                            |
                                            <span class="glyphicon glyphicon-calendar"></span> {{ blog.date }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                    {% endfor %}
                </div>
                <!-- end panel body -->
            </div>
            <!-- end panel -->

        </div>
        <!-- end col -->

    </div><!-- end row -->

    <section id="sponsor">
    <div class="row">
        <div class="col-xs-12 col-md-12 last sponsor-wrapper">
        <h2><center>Sponsors</center></h2>
            {% for sponsor in sponsors %}
                {% if sponsor.image %}
                    <img alt="{{ sponsor.name }}" src="{{ MEDIA_URL }}{{ sponsor.image }}"
                         width="{{ sponsor_image_width }}%"/>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </section>
{% endblock content %}

</div>