{% extends 'website/base.html' %}

{% block title %}Add a new blog post{% endblock title %}

{% block extracss %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/anytime.css" />
{% endblock extracss %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}/js/anytime.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('textarea').css('width', '400px');

		AnyTime.picker("id_date", {
			format: "%Y-%m-%d %H:%i:%s"
		});
	});
</script>
{% endblock extrajs %}

{% block content %}
{% if form.is_multipart %}
<form id="editBlogForm" width="700px" method="post" enctype="multipart/form-data" action="{% url website:edit_blog_url pk=user.pk blog_pk=blog.pk %}">
{% else %}
<form id="editBlogForm" width="700px" method="post" action="{% url website:edit_blog_url pk=user.pk blog_pk=blog.pk %}">
{% endif %}
    {% csrf_token %}
    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                <div class="formlyRequired" style="display: block">
                    {{ field.label }}: {{ field.errors|first }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <fieldset>
        <legend>Add Post</legend>
        {% for field in form %}
        <div class="clearfix">
            <label for="id_{{ field.name }}">{{ field.label }}</label>
            <div class="input">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <div class="actions">
            <input type="submit" class="btn primary" value="Edit Post" />
            <button class="btn">Cancel</button>
    </fieldset>
</form>
{% endblock content %}