{% extends 'website/base.html' %}

{% block title %}Blog posts{% endblock title %}

{% block content %}
{% if member == user.get_profile %}
	<h6><a href="{% url website:add_blog_url pk=member.pk %}">Add a blog post</a></h6>
{% endif %}
{% if blog_posts %}
	{% for blog in blog_posts %}
		<h1><a href="{% url website:blog_post_url pk=member.pk blog_pk=blog.pk %}">{{ blog.title }}</a> <small>posted on {{ blog.date }}</small></h1>
	{% endfor %}
{% else %}
	<h1>{{ member }} has not posted blogs</h1>
{% endif %}
{% endblock content %}