{% extends 'base.html' %}

{% block title %}Archive Member{% endblock title %}

{% block content %}
    {% load filters %}
    {% if user|can_archive_member:member %}
        <form id="archiveMember" method="post" action="{% url 'cms:archive_member_url' pk=member.pk %}">
            {% csrf_token %}
            <h1>Are you sure you want to archive {{ member }}?</h1>
            <button type="submit" class="btn btn-danger">Yes, archive member</button>
            <a class="btn" href="{% url 'cms:profile_url' pk=member.pk %}">No, do not archive member</a>
        </form>
    {% endif %}
{% endblock content %}
