{% extends 'base.html' %}

{% block title %}Delete Member{% endblock title %}

{% block content %}
    {% load filters %}
    {% if user|can_delete_member:member %}
        <form id="deleteMember" method="post" action="{% url 'cms:delete_member_url' pk=member.pk %}">
            {% csrf_token %}
            <h1>Are you sure you want to delete {{ member }}?</h1>
            <input type="submit" class="btn btn-danger" value="Yes, delete member" />
            <a class="btn btn-default" href="{% url 'cms:profile_url' pk=member.pk %}">No, do not delete member</a>
        </form>
    {% endif %}
{% endblock content %}
