{% extends 'base.html' %}

{% load bootstrap_toolkit %}

{% block title %}Edit Profile{% endblock title %}

{% block content %}

    <form id="profileForm" class="form form-horizontal" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} action="{% url 'cms:edit_profile_url' pk=member.pk %}">
        {% csrf_token %}
        <fieldset>
            <legend>Edit Profile</legend>
            {{ form|as_bootstrap:"horizontal" }}
        </fieldset>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Save Member</button>
                <a class="btn" href="{% url 'cms:profile_url' pk=member.pk %}">Cancel</a>
            </div>
        </div>
    </form>
{% endblock content %}
