{% extends 'base.html' %}

{% block title %}Reactivate Member{% endblock title %}

{% block content %}
{% load filters %}
{% if user|can_reactivate_member:member %}
<form id="activateMember" method="post" action="{% url 'cms:reactivate_member_url' pk=member.pk %}">
    {% csrf_token %}
    <h1>Are you sure you want to reactivate {{ member }}</h1>
    <input type="submit" class="btn danger" value="Yes, reactivate member" />
    <a class="btn primary" href="{% url 'cms:members_url' %}">No, do not reactivate member</a>
</form>
{% endif %}
{% endblock content %}
