{% extends 'base.html' %}

{% load filters %}

{% block title %}Blogs {{ month|month_name }} {{ year }}{% endblock title %}
{% block current_page %}current="#top_blogs";{% endblock current_page %}

{% block content %}
    <div class="row">
        <h4 class="span3" style="margin-bottom: 20px;">
            <a href="{% url cms:blogs_month_url year=prev_year month=prev_month %}">
                &laquo; Blogs {{ prev_month|month_name }} {{ prev_year }}
            </a>
        </h4>

        <h2 class="span6" style="text-align: center; margin-bottom: 20px;">
            Blogs {{ month|month_name }} {{ year }}
        </h2>

        <h4 class="span-6 last" style="text-align: right; margin-bottom: 20px;">
            <a href="{% url cms:blogs_month_url year=next_year month=next_month %}">
                Blogs {{ next_month|month_name }} {{ next_year }} &raquo;
            </a>
        </h4>
    </div>

    {% if blog_posts %}
        {% include 'blogs/blog_badge.html' %}
    {% else %}
        No blogs available.
    {% endif %}

    {% if is_paginated %}
        {% include "blogs/paginator.html" %}
    {% endif %}
{% endblock content %}
