{% load bootstrap_toolkit %}

{% block extrajs %}
<script type="text/javascript">
    $(document).ready(function() {
        $('textarea').css('width', '400px');

        /*AnyTime.picker("id_date", {
            format: "%Y-%m-%d %H:%i:%s"
        });*/

        $('#tag').focus(function() {
            $(this).val('');
        });

        $('#add_tag').click(function() {
            var new_value = parseInt($('#id_tags option:last').val()) + 1;
            var new_tag = $('#tag').val();

            if(new_tag.length) {
                var child = $('#id_tags option:[text="' + new_tag + '"]');

                if(!child.length) {
                    var csrf = $('input[name=csrfmiddlewaretoken]').val();
                    $.post('{% url cms:tag_cloud_url %}', {
                        'tag': new_tag,
                        'blog_id': {% if blog.pk %}{{ blog.pk }}{% else %}-1{% endif %},
                        'member_id': {{ member.pk }},
                        'csrfmiddlewaretoken': csrf
                    });

                    $('#id_tags').append('<option value="' + new_value + '">' + new_tag + '</option>')
                        .attr('selected', 'selected');
                } else {
                    var value = $('#id_tags option:[text="' + new_tag + '"]').val();
                    $('#id_tags option:[value=' + value + ']').attr('selected', 'selected');
                }
            } else {
                alert('Cannot have an empty tag');
            }
        });
    });
</script>
{% endblock extrajs %}

{% csrf_token %}
<fieldset>
    <legend>{{ legend }}</legend>
    {{ form|as_bootstrap:"horizontal" }}
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Submit Post</button>
            <a class="btn" href="{% url cms:blog_url pk=member.pk %}">Cancel</a>
        </div>
    </div>
</fieldset>
