{% extends 'base.html' %}

{% block title %}Add a new blog post{% endblock title %}

{% block extracss %}
<style type="text/css">
select#id_tags {
    height: 100px;
}
</style>
{% endblock extracss %}

{% block content %}
{% if form.is_multipart %}
<form id="editBlogForm" width="700px" method="post" enctype="multipart/form-data" action="{% url cms:edit_blog_url pk=blog.author.pk blog_pk=blog.pk %}">
{% else %}
<form id="editBlogForm" width="700px" method="post" action="{% url cms:edit_blog_url pk=blog.author.pk blog_pk=blog.pk %}">
{% endif %}
{% include 'blogs/blog_form.html' with legend="Edit Post" %}
</form>
{% endblock content %}
