<div class="row">
    <div class="col-md-12">
        <div id="paginate" class="pagination">
            <ul>
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
                {% else %}
                    <li class="disabled"><a href="#paginate">&laquo; Previous</a></li>
                {% endif %}
                {% for page in paginator.page_range %}
                    <li {% if page_obj.number == page %}class="active"{% endif %}>
                        <a href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="#paginate">Next &raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
