{% extends 'base.html' %}

{% load bootstrap_toolkit %}

{% block title %}Edit Page{% endblock title %}

{% block content %}
    <div class="row">
        <div class="span12">
            <form class="form form-horizontal" id="createPageForm" method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %} action="{% url 'cms:edit_page_url' pk=page.pk %}">
                {% csrf_token %}
                <fieldset>
                    <legend>Edit Page</legend>
                    {{ form|as_bootstrap:"horizontal" }}
                </fieldset>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Edit</button>
                        <a class="btn" href="{% url 'cms:page_url' slug=page.slug %}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
