{% extends 'base.html' %}

{% load filters %}

{% block title %}{{ page.title }}{% endblock title %}
{% block current_page %}current="#top_{{ page.pk }}";{% endblock current_page %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h1>{{ page.title }}
                <small>
                    {% if user|can_edit_page:page %}
                    <a href="{% url 'cms:edit_page_url' pk=page.pk %}">edit</a>
                    {% endif %}
                    {% if user|can_delete_page:page %}
                    <a href="{% url 'cms:delete_page_url' pk=page.pk %}">delete</a>
                    {% endif %}
                </small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <p>
                {{ page.content|stripjs }}
            </p>
        </div>
    </div>
{% endblock content %}
