import os
import time
from django.core.urlresolvers import reverse_lazy

from ncsu.wrap.settings import *

PROJECT_DIR = '%s/../project' % os.path.dirname(os.path.abspath(__file__))

WRAP_PUBLIC_KEY_PATH = os.path.join(PROJECT_DIR, 'wrap16.pub')

AUTHENTICATION_BACKENDS = (
    'django.contrib.auth.backends.ModelBackend',
    'ncsu.wrap.backends.WrapBackend',
)

AUTH_PROFILE_MODULE = 'cms.Member'

LOGIN_REDIRECT_URL = '/'
LOGIN_URL = reverse_lazy('cms:login_url')
LOGOUT_URL = reverse_lazy('cms:logout_url')

ANONYMOUS_USER_ID = -1

# This formula calculates the current academic year. If the current month is January through July then the
# current academic year is one less than the current calendar year, while for months from August through December the
# current academic year is the same as the current calendar year
local_time = time.localtime()
CURRENT_YEAR = local_time.tm_year if local_time.tm_mon >= 8  else local_time.tm_year - 1

# Remove in production
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

# Can be set to any email
DEFAULT_FROM_EMAIL = 'donotrespond@stars.csc.ncsu.edu'

# Used for now to get the SLC leader
SLC_LEADERS = ['Kristy Boyer', 'Robinson Udechukwu', 'Veronica Catete', 'Eric Whitmire']

# Used for website title
SLC_NAME = 'NCSU STARS Alliance'

SPONSOR_LOGO_URL = 'images/logos/sponsors/'
SPONSORS = [ dict(zip(['name', 'logo_path'], x)) for x in [
                ('NetApp', 'netapp-grey.png'),
                ('SAS', 'sas-grey.png'),
                ('EMC', 'emc-grey.png'),
                ('Cisco', 'cisco-grey.png'),
                ('Duke Energy', 'dukeenergy-grey.png'),
                ('Tekelec', 'tekelec-grey.png'),
                ] ]
								
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'project/db/sqlite.db',                      # Or path to database file if using sqlite3.
        # The following settings are not used with sqlite3:
        'USER': '',
        'PASSWORD': '',
        'HOST': '',                      # Empty for localhost through domain sockets or '127.0.0.1' for localhost through TCP.
        'PORT': '',                      # Set to empty string for default.
    }
}
