{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<form id="loginForm" width="400px" method="post" action="{% url website:login_url %}">
    {% csrf_token %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
                <div class="formlyRequired" style="display: block">
                    {{ error }}
                </div>
        {% endfor %}
    {% endif %}
	{% if form.errors %}
		{% for field in form %}
			{% if field.errors %}
			    <div class="formlyRequired" style="display: block">
			        {{ field.label }}: {{ field.errors|first }}
			    </div>
			{% endif %}
		{% endfor %}
	{% endif %}
    <fieldset>
        <legend>Login</legend>
        {% for field in form %}
        <div class="clearfix">
            <label for="id_{{ field.label }}">{{ field.label }}</label>
            <div class="input">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <div class="actions">
            <input type="submit" class="btn primary" value="Login" />
            <button type="reset" class="btn">Cancel</button>
    </fieldset>
</form>
{% endblock content %}
