.badge{
    padding: 5px;
    margin-bottom: 20px;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    disaply:table;
}

.badge-archived {
    opacity: 0.5;
}

.badge div {
    display: table-cell;
    vertical-align: top;
}

.badge h2 {
    line-height: 24px;
}
.badge .member_pic img{
    width: 75px;
    margin-right: 10px;
    vertical-align: top;
}

.badge .member_info{
    width: 350px;    
    margin-left: 10px;
}
.badge .member_participation{  
    margin-left: 5px;
}
