.blog-badge {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #222222;
    text-shadow: none;
    margin-bottom: 5px;
    padding-top: 5px;
    white-space: normal;
    display: inline-block;
    width: 100%;

    padding: 5px;
    box-sizing: border-box;
}

.blog-badge h3 {
    margin: 0;
    line-height: 26px;
}

.blog-badge h5 {
    margin: 0;
    line-height: 20px;
}

.blog-badge p {
    font-weight: normal;
}
