{% extends 'base.html' %}

{% block title %}Create Member{% endblock title %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function() {
    var timer = null,
        timeout = 500;

    var get_user = function(username) {
        var change_form = function(first_name, last_name, email, classification) {
            $('#id_first_name').val(first_name);
            $('#id_last_name').val(last_name);
            $('#id_email').val(email);

            if(classification == null) {
                $('#id_group').val(null);
                $('#id_classification').val(null);
            } else if(classification.toLowerCase() === 'graduate') {
                $('#id_group').val('graduate');
                $('#id_classification').val(null);
            } else {
                $('#id_group').val('undergraduate');
                $('#id_classification').val(classification.toLowerCase());
            }
        }

        $.getJSON('/directory/', {'user': username}, function(data, status, xhr) {
            if(data && data.name && data.email) {
                var first_name = data.name.substring(0, data.name.indexOf(' ')),
                    last_name = data.name.substring(data.name.lastIndexOf(' ')).trim(),
                    email = data.email,
                    classification = data.classification;

                change_form(first_name, last_name, email, classification);
            } else {
                change_form(null, null, null, null);
            }
        });
    };

    $('#id_unity_id').keyup(function() {
        var that = this;

        timer = setTimeout(function() {
            if($(that).val().length) {
                get_user($(that).val());
            } 
        }, timeout);
    });

    $('#id_unity_id').keydown(function() {
        clearTimeout(timer);
    });

    $('#cancel').click(function(e) {
        e.preventDefault();

        if(confirm('Are you sure you want to leave this page?')) {
            window.location = '{% url cms:members_url %}';
        }
    });
});
</script>
{% endblock extrajs %}

{% block content %}
{% if form.is_multipart %}
<form id="createMemberForm" width="700px" method="post" enctype="multipart/form-data" action="{% url cms:create_member_url %}">
{% else %}
<form id="createMemberForm" width="700px" method="post" action="{% url cms:create_member_url %}">
{% endif %}
    {% csrf_token %}
    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                <div class="formlyRequired" style="display: block">
                    {{ field.label }}: {{ field.errors|first }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <fieldset>
        <legend>Create Member</legend>
        {% for field in form %}
        <div class="clearfix">
            <label for="id_{{ field.label }}">{{ field.label }}</label>
            <div class="input">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <div class="actions">
            <input type="submit" class="btn primary" value="Create" />
            <button id="cancel" class="btn">Cancel</button>
        </div>
    </fieldset>
</form>
{% endblock content %}