{% extends 'base.html' %}

{% block title %}Delete Project{% endblock title %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function() {
    $('#not_delete').click(function(e) {
        e.preventDefault();
        e.stopPropagation();

        var url = '{% url cms:delete_member_list_url %}';
        window.location.href = url;
    });
});
</script>
{% endblock extrajs %}

{% block content %}
{% load filters %}
{% if user|is_slc_leader %}
<form id="deleteMember" method="post" action="{% url cms:delete_member_url pk=member.pk %}">
    {% csrf_token %}
    <h1>Are you sure you want to delete {{ member }}</h1>
    <input type="submit" class="btn danger" value="Yes, delete member" />
    <input type="submit" id="not_delete" class="btn primary" value="No, do not delete member" />
</form>
{% endif %}
{% endblock content %}
