{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock title %}

{% block extrajs %}
<script type="text/javascript">
    $('document').ready(function() {
        //Quick and dirty fix for a form issue
        $('label[for=image-clear_id]').remove();

        $('#cancel').click(function(e) {
            e.preventDefault();

            if(confirm('Are you sure you want to leave this page?')) {
                window.location = '{% url cms:profile_url pk=member.pk %}';
            }
        });
    });
</script>
{% endblock extrajs %}

{% block content %}
{% if form.is_multipart %}
<form id="profileForm" width="700px" method="post" enctype="multipart/form-data" action="{% url cms:edit_profile_url pk=member.pk %}">
{% else %}
<form id="profileForm" width="700px" method="post" action="{% url cms:edit_profile_url pk=member.pk %}">
{% endif %}
    {% csrf_token %}
    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                <div class="formlyRequired" style="display: block">
                    {{ field.label }}: {{ field.errors|first }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <fieldset>
        <legend>Edit Profile</legend>
        {% for field in form %}
        <div class="clearfix">
            <label for="id_{{ field.label }}">{{ field.label }}</label>
            <div class="input">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <div class="actions">
            <input type="submit" class="btn primary" value="Save" />
            <button type="button" id="cancel" class="btn">Cancel</button>
    </fieldset>
</form>
{% endblock content %}
