{% extends 'base.html' %}
{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/badge.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">
{% endblock extracss %}
{% block title %}Members {{ year }} &ndash; {{ year2 }}{% endblock title %}

{% block content %}

<h4 class="span-9">{% if prev_year %}<a href="{% url cms:members_year_url year=prev_year%}">&laquo; Members {{ prev_year }} &ndash; {{ prev_year2 }}</a>{% else %}&nbsp;{% endif%}</h4>
<h4 class="span-9 last" style="text-align: right;">{% if next_year %}<a href="{% url cms:members_year_url year=next_year%}">Members {{ next_year }} &ndash; {{ next_year2 }} &raquo;</a>{% else %}&nbsp;{% endif %}</h4>

<br /><h1>Members {{ year }} &ndash; {{ year2 }}</h1>
{% if members %}
<article>
<div class="span-18 last index-outer-wrapper">
    <div class="index-inner-wrapper">
    {% for project_member_group in project_member_groups %}
        {% if project_member_group.members or project_member_group.project_members %}
            <div class="index">
            <h3>{{ project_member_group.group }}</h3>
            <ul>
            {% for member in project_member_group.members %}
                <li><a href="{% url cms:profile_url pk=member.pk %}">{{ member }}</a></li>
            {% endfor %}
            {% for project_member in project_member_group.project_members %}
                <li>{{ project_member }}</li>
            {% endfor %}
            </ul>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
<div class="span-12">
    {% for member in members %}
        <div class="badge">
            <a href="{% url cms:profile_url pk=member.pk %}"><img class="member_pic" src="{{ MEDIA_URL }}/{{member.image}}"/></a>
            <div class="member_info">
                <h2><a href="{% url cms:profile_url pk=member.pk %}">{{ member }}</a></h2> from {{ member.hometown }}<br/>
                {% if member.homepage %}
                Website: <a href="{{ member.homepage }}">{{ member.homepage }}</a>
                {% endif %}
            </div>
            <div class="member_participation">
                <div class="project_list">Projects:
                    {% for project in member.project_set.all %}
                        <a href="{% url cms:projects_url %}">{{project.title }}</a>
                    {% endfor %}
                </div>
                <a href="{% url cms:blog_url pk=member.pk%}">Blog</a>
            </div>
            </div>

    {% endfor %}
</div>
</article>
{% else %}
No members available.
{% endif %}
{% endblock content %}
