{% extends 'base.html' %}

{% block title %}Members{% endblock title %}

{% block content %}
<div>{% if prev_year %}<a href="{% url cms:members_year_url year=prev_year%}">&laquo; Members {{ prev_year }} &ndash; {{ prev_year2 }}</a>{% else %}&nbsp;{% endif%}
{% if next_year %}<a style="float: right;" href="{% url cms:members_year_url year=next_year%}">Members {{ next_year }} &ndash; {{ next_year2 }} &raquo;</a>{% endif %}
</div>
<h1>Members {{ year }} &ndash; {{ year2 }}</h1>
{% if members %}
<article>
<div class="span-12">
    {% for member in members %}
        <h2><a href="{% url cms:profile_url pk=member.pk %}">{{ member }}</a></h2>
    {% endfor %}
</div>
</article>
{% else %}
No members available.
{% endif %}
{% endblock content %}
