{% extends 'base.html' %}

{% block title %}
    {% if member.user == user %}
        Your Profile
    {% else %}
        {{ member }}'s Profile
    {% endif %}
{% endblock title %}

{% block extrajs %}
<script type="text/javascript">
    /*$('document').ready(function() {
        var els = $('dd');

        for(var i = 0; i < els.length; i++) {
            $(els[i]).click(function() {
                var name = $(this).prev().html().toLowerCase();

                if($(this).html().indexOf('input') == -1 && $(this).html().indexOf('textarea') == -1) {
                    if(name == 'city' || name == 'homepage') {
                        $(this).html('<input type="text" name="' + name + '" id="id_' + name + '" value="' + $(this).html() + '" />');
                    }

                    if(name == 'interests' || name == 'blurb') {
                        $(this).html('<textarea rows="6" style="width: 400px" name="'
                            + name + '" id="id_' + name + '">' + $(this).html() + '</textarea>');
                    }
                }
            }).blur(function() {
                if($(this).html().indexOf('input') != -1) {
                    console.log('blurred')
                    $(this).html('<dd>' + $(this).attr('value'));
                }
            }).submit(function(e) {
                e.preventDefault();
            });
        }
    });*/
</script>
{% endblock extrajs %}

{% block content %}
{% load filters %}
<h1>{{ member }}
    <small>({{ member.group }})</small>
    {% if user|can_edit_member:member%}
    <small><a href="{% url cms:edit_profile_url pk=member.pk %}">edit</a></small>
    {% endif %}
    <small><a href="{% url cms:blog_url pk=member.pk %}">blog posts</a></small>
</h1>

<div style="display: table-row;">

<div style="display: table-cell; vertical-align: top;">
    <div class="span-6" style="text-align: center;">
        {% if member.image %}
        <img src="{{ MEDIA_URL }}{{ member.image }}" width="100%" />
        {% else %}
        <img src="{{ STATIC_URL }}/images/placeholder.png" />
        {% endif %}
    </div>
</div>

<div style="display: table-cell; vertical-align: top;">
    <div class="span-12" style="margin-bottom: 2em;">
        {{ member.blurb|stripjs }}
    </div>

    <dl class="span-6">
        {% if project_groups %}
        <dt>Projects</dt>
        {% for group in project_groups %}
            <dd>{{ group.year }}
                <ul>
                    {% for project_member in group.project_members %}
                        <li><a href="{% url cms:projects_year_url year=group.year %}#{{ project_member.project.pk }}">{{ project_member.project.title }}</a>{% if project_member.role %} ({{ project_member.role }}){% endif %}</li>
                    {% endfor %}
                </ul>
            </dd>
        {% endfor %}
        {% endif %}
    </dl>
    <dl class="span-6 last">
    {% if recent_blogs %}
        <dt>Recent Blogs</dt>
        <dd>
            <ul>
                {% for blog in recent_blogs %}
                    <li><a href="{% url cms:blog_post_url pk=member.pk blog_pk=blog.pk %}">{{ blog.title }}</a> - {{ blog.date|date:"F j" }}</li>
                {% endfor%}
            </ul>
        </dd>
    {% endif %}
    </dl>
</div>

<div style="display: table-cell; vertical-align: top;">
    <dl class="span-5 last" style="margin-right: 2em;">
        {% if member.classification %}<dt>Classification</dt> <dd>{{ member.classification }}</dd>{% endif %}
        {% if member.hometown %}<dt>Hometown</dt> <dd>{{ member.hometown }}</dd>{% endif %}
        <dt>Interests</dt> <dd>{{ member.interests|stripjs }}</dd>
        {% if member.homepage %}<dt>Homepage</dt> <dd><a href="{{ member.homepage }}">{{ member.homepage }}</a></dd>{% endif %}
    </dl>
</div>

</div>

{% endblock content %}







