<!DOCTYPE html>
<html>
<head>
    <title>NCSU STARS - {% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
        <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/formly.min.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/nivo.slider.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/themes/default/default.css" />
    <link type="text/css" rel="stylesheet/less" href="{{ STATIC_URL }}css/style.less" />

    {% block extracss %}{% endblock extracss %}
    <script type="text/javascript">
        var globals = { };

        globals.urls = {
            'tagCloudUrl': '{% url cms:tag_cloud_url %}'
        }
    </script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/formly.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/less.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            function fadeTopBar() {
                if($('body').scrollTop() > 30) {
                    $('.topbar').css('opacity', 0.7);
                } else {
                    $('.topbar').css('opacity', 1.0);
                }
            }

            $(window).scroll(fadeTopBar);

            $('.topbar').hover(
                function() {
                    $('.topbar').css('opacity', 1.0);
                }, function() {
                    fadeTopBar();
                }
            );

            var current = "";
            {% block current_page %}{% endblock current_page %}
            if (current!=""){
                $(current).addClass("current_nav");
            }
        });
    </script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19754192-4']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% block extrajs %}{% endblock extrajs %}
</head>

<body>
    {% load filters %}
    {% if user|is_slc_leader %}
    <div class="topbar">
        <div class="topbar-inner">
            <div class="container">
                <a class="brand" href="{% url cms:homepage_url %}">Stars CMS</a>
                <ul class="nav">
                    <li><a href="{% url cms:homepage_url %}">Admin Home</a></li>
                    <li><a href="{% url cms:create_project_url %}">Create Project</a></li>
                    <li><a href="{% url cms:create_member_url %}">Create Member</a></li>
                    <li><a href="{% url cms:create_page_url %}">Create Page</a></li>
                    <!--li><a href="#">Create News</a></li-->
                </ul>
            </div>
        </div>
    </div>
    <div class="shiv"></div>
    {% endif %}
    <div class="container" style="padding-top: 10px;">
        <div style="display: table-row;">
            <div style="display: table-cell; vertical-align: middle; text-align: center;">
                <div class="span-6">
                    <a href="{% url cms:homepage_url %}"><img height="125px" src="{{ STATIC_URL }}images/STARS_Logo2.jpg" /></a>
                </div>
            </div>
            <div style="display: table-cell; vertical-align: middle;">
                <div class="span-12" style="text-align: center">
                    <span id="logo">NCSU STARS Alliance</span>
                </div>
            </div>
            <div style="display: table-cell; vertical-align: middle; text-align: center;">
                <div class="span-6 last">
                    <a href="http://www.nsf.gov/"><img width="100px" src="{{ STATIC_URL }}images/nsf.jpg" /></a>
                </div>
            </div>
        </div>
        <div id="mainNavTop" class="span-24 last" style="text-align: right;">
        {% if user|logged_in %}
            {% if user.get_profile %}
            Welcome <a href="{% url cms:profile_url pk=user.get_profile.pk %}">{{ user.get_full_name|default:"No Name" }}</a>!
            <a href="{% url cms:profile_url pk=user.get_profile.pk %}">My Profile</a> | <a href="{% url cms:blog_url pk=user.get_profile.pk %}">My Blog</a>
            {% else %}
            Welcome No Profile!
            {% endif %}
        {% endif %}
        </div>
        <div id="mainNav" class="span-24 last">
            <ul class="span-21">
                <li id="top_home"><a href="{% url cms:homepage_url %}">Home</a></li>
                <li id="top_projects"><a href="{% url cms:projects_url %}">Projects</a></li>
                <li id="top_members"><a href="{% url cms:members_url %}">People</a></li>
                <li id="top_blogs"><a href="{% url cms:blogs_url %}">Blogs</a></li>
                {% for page in menu_pages %}
                <li id="top_{{ page.pk }}"><a href="{% url cms:page_url slug=page.slug %}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            <span class="span-2 last">
                {% if user|logged_in %}
                <a href="{% url cms:logout_url %}">Logout</a>
                {% else %}
                <a href="{% url cms:login_url %}">Login</a>
                {% endif %}
            </span>
        </div>

        <div class="span-24 last">
            {% block content %}{% endblock content %}
        </div>

        <div class="span-24 last" style="text-align: center; margin-top: 1em;">
            &copy; {% now "Y" %} NCSU STARS SLC
        </div>
    </div>
</body>
</html>
