<!DOCTYPE html>
<html>
<head>
    <title>NCSU STARS - {% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
        <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/formly.min.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/nivo.slider.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/themes/default/default.css" />
    <link type="text/css" rel="stylesheet/less" href="{{ STATIC_URL }}css/style.less" />

    {% block extracss %}{% endblock extracss %}
    <script type="text/javascript">
        var globals = { };

        globals.urls = {
            'tagCloudUrl': '{% url cms:tag_cloud_url %}'
        }
    </script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/formly.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/less.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            function fadeTopBar() {
                if($('body').scrollTop() > 30) {
                    $('.topbar').css('opacity', 0.7);
                } else {
                    $('.topbar').css('opacity', 1.0);
                }
            }

            $('input.search').blur(function() {
                if($(this).val() === '') {
                    $(this).val('Search...');
                }
            }).click(function() {
                $(this).val('');
            });

            $(window).scroll(fadeTopBar);

            $('.topbar').hover(
                function() {
                    $('.topbar').css('opacity', 1.0);
                }, function() {
                    fadeTopBar();
                }
            );
        });
    </script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19754192-4']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% block extrajs %}{% endblock extrajs %}
</head>

<body>
    {% load filters %}
    {% if user|is_slc_leader %}
    <div class="topbar">
        <div class="topbar-inner">
            <div class="container">
                <a class="brand" href="{% url cms:homepage_url %}">Stars CMS</a>
                <ul class="nav">
                    <li><a href="{% url cms:homepage_url %}">Admin Home</a></li>
                    <li><a href="{% url cms:create_project_url %}">Create Project</a></li>
                    <li><a href="{% url cms:create_member_url %}">Create Member</a></li>
                    <li><a href="#">Create Page</a></li>
                    <li><a href="#">Create News</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container" style="padding-top: 40px">
        <div class="span-19">
            <span class="right" style="padding-right: 20px;">
                {% if user|logged_in %}
                    Welcome back {{ user.get_full_name }}. <a href="{% url cms:logout_url %}">Logout</a>
                {% else %}
                    Please <a href="{% url cms:login_url %}">login</a>
                {% endif %}
            </span>
            <div id="logo" class="center">
                <img src="{{ STATIC_URL }}images/text-logo-grey.png" />
            </div>
        </div>

        <div id="mainNav" class="span-24">
            <ul>
                <li><a href="{% url cms:homepage_url %}">Home</a></li>
                <li><a href="{% url cms:projects_url %}">Projects</a></li>
                <li><a href="{% url cms:members_url %}">Members</a></li>
                <li><a href="{% url cms:blogs_url %}">Blogs</a></li>
                {% if user|logged_in and user.get_profile %}
                <li><a href="{% url cms:profile_url pk=user.get_profile.pk %}">My Profile</a></li>
                {% endif %}
                {% if user|logged_in %}
                <li><a href="#">My Blog</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="span-18 last">
            {% block content %}{% endblock content %}
        </div>

        <div class="span-24" style="text-align: center;">
            &copy; 2011 NCSU STARS SLC
        </div>
    </div>
</body>
</html>
