{% extends 'base.html' %}

{% block title %}Homepage{% endblock title %}

{% block extrajs %}
<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
        effect: 'fade',
        slices: 15,
        directionNav: true,
        directionNavHide: true,
        controlNav: false,
        controlNavThumbs: false,
        keyboardNav: true,
        pauseOnHover: true
    });
});
</script>
{% endblock extrajs %}

{% block head %}
<div class="center" style="text-align-center">
    <img width="210px" src="{{ STATIC_URL }}images/STARS_Logo.png" />
</div>
{% endblock head %}

{% block content %}
<div class="span-16">
<h1>Welcome to STARS at NCSU</h1>

    The NCSU STARS (Students &amp; Technology in Academia, Research and Service) Student Leadership Corps (SLC) is a student organization that provides students with the opportunity to learn more about computer science careers, participate in service and outreach programs to local schools, engage in research, meet with leaders in the computer field, all while earning a stipend!
    <br /><br />
    The NCSU SLC is part of the larger STARS Alliance, a system of regional partnerships among colleges and universities, industry, primary schools and the community to collaboratively implement programs for student recruitment and success in computing.
    <br /><br />
    If you are a college student in the Raleigh area and would like to learn more about joining STARS SLC, follow the Joining Stars link. To learn more about what NCSU STARS students do every week, view their blogs.
    <br /><br />
    STARS is funded by the National Science Foundation.
    <br /><br />
    NCSU STARS would like to thank their local sponsors below for their contributions to the Raleigh community.
    <p>
</div>
<div class="span-8 last">
    <h3>Recent Blog Posts</h3>
    <ul>
        {% for blog in blog_posts %}
        <li><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a> by <a href="{% url cms:profile_url pk=blog.author.pk %}">{{ blog.author }}</a></li>
        {% endfor %}
    </ul>
</div> 
<div class="span-24 last" style="text-align: center">
<p><p>
    {% for sponsor in sponsors %} <img alt="{{ sponsor.name }}" src="{{ STATIC_URL }}{{ SPONSOR_LOGO_URL }}{{ sponsor.logo_path }}" width="9%" /> {% endfor %}
</div>

{% endblock content %}


