{% extends 'base.html' %}

{% block title %}Projects {{ year }} &ndash; {{ year2 }}{% endblock title %}

{% block extrajs %}

{% endblock %}

{% block content %}
{% load filters %}
<h4 class="span-9">{% if prev_year %}<a href="{% url cms:projects_year_url year=prev_year%}">&laquo; Projects {{ prev_year }} &ndash; {{ prev_year2 }}</a>{% else %}&nbsp;{% endif %}</h4>
<h4 class="span-9 last" style="text-align: right;">{% if next_year %}<a href="{% url cms:projects_year_url year=next_year%}">Projects {{ next_year }} &ndash; {{ next_year2 }} &raquo;</a>{% else %}&nbsp;{% endif %}</h4>

<h1>Projects {{ year }} &ndash; {{ year2 }}</h1>

{% if projects %}

{% for project in projects %}
<div class="span-18 last">
{% if project.image %}
<img class="span-6" style="margin-bottom: 2em;" src="{{ MEDIA_URL }}{{ project.image }}" width="35%" />
{% else %}
<div class="span-6">No image available.</div>
{% endif %}
<dl class="span-10 last">
    <a name="{{ project.pk }}"></a>
    <h2>
        {{ project.title }}
        {% if user|can_edit_project:project %}
        <small><a href="{% url cms:edit_project_url pk=project.pk %}">edit</a></small>
        {% endif %}
    </h2>
    <dt>Description</dt> <dd>{{ project.description|stripjs }}</dd>
    <dt>Members</dt>
    <dd>
        <ul class="unstyled">
        {% for project_member in project.projectmember_set.all %}
            {% if project_member.member %}
            <li><a href="{% url cms:profile_url pk=project_member.member.pk %}">{{ project_member.member }}</a>{% if project_member.role %} ({{ project_member.role }}){% endif %}</li>
            {% else %}
            <li>{{ project_member.volunteer_name }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    </dd>
</dl></div>
{% endfor %}

{% else %}
    No projects available.
{% endif %}
{% endblock content %}
