{% extends 'base.html' %}

{% block title %}Add a new blog post{% endblock title %}

{% block extracss %}
{% endblock extracss %}

{% block extrajs %}
{% endblock extrajs %}

{% block content %}
{% if form.is_multipart %}
<form id="addBlogForm" width="700px" method="post" enctype="multipart/form-data" action="{% url cms:add_blog_url pk=member.pk %}">
{% else %}
<form id="addBlogForm" width="700px" method="post" action="{% url cms:add_blog_url pk=member.pk %}">
{% endif %}
{% include 'blogs/blog_form.html' with legend="Add Post" %}
</form>
{% endblock content %}
