{% extends 'base.html' %}

{% load filters %}

{% block title %}Blogs {{ month|month_name }} {{ year }}{% endblock title %}

{% block extrajs %}

{% endblock %}

{% block content %}
<h4 class="span-9"><a href="{% url cms:blogs_month_url year=prev_year month=prev_month %}">&laquo; Blogs {{ prev_month|month_name }} {{ prev_year }}</a></h3>
<h4 class="span-9 last" style="text-align: right;"><a href="{% url cms:blogs_month_url year=next_year month=next_month %}">Blogs {{ next_month|month_name }} {{ next_year }} &raquo;</a></h3>

<h1>Blogs {{ month|month_name }} {{ year }}</h1>

{% if blog_posts %}
    {% for blog in blog_posts %}
        <h2><a href="{% url cms:blog_post_url pk=blog.author.pk blog_pk=blog.pk %}">{{ blog.title }}</a>
        <small>by <a href="{% url cms:profile_url pk=blog.author.pk %}">{{ blog.author.user.get_full_name }}</a> &ndash; {{ blog.date|date:"F j" }} &ndash; {{ blog.date|date:"H:i" }}</small></h2>
    {% endfor %}

    {% if is_paginated %}
        <div>
        {% if page_obj.has_previous %} <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a> {% endif %}
        Page {{ page_obj.number }} of {{ paginator.num_pages }}
        {% if page_obj.has_next %} <a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a> {% endif %}
        </div>
        <div>
        {% for page in paginator.page_range %}
            <a href="?page={{ page }}">{{ page }}</a>
        {% endfor %}
        </div>
    {% endif %}
{% else %}
    No blogs available.
{% endif %}
{% endblock content %}
