{% extends 'base.html' %}

{% block title %}Blogs {{ year }} &ndash; {{ year2 }}{% endblock title %}

{% block extrajs %}

{% endblock %}

{% block content %}
{% load filters %}
<div>{% if prev_year %}<a href="{% url cms:blogs_year_url year=prev_year%}">&laquo; Blogs {{ prev_year }} &ndash; {{ prev_year2 }}</a>{% else %}&nbsp;{% endif%}
{% if next_year %}<a style="float: right;" href="{% url cms:blogs_year_url year=next_year%}">Blogs {{ next_year }} &ndash; {{ next_year2 }} &raquo;</a>{% endif %}
</div>

<h1>Blogs {{ year }} &ndash; {{ year2 }}</h1>
<div>{% if months %} {% for month in months %} <a href="{% url cms:blogs_month_url year=month.year month=month.month %}">{{ month|date:"F" }}</a> {% endfor %} {% endif %} </div>

{% if blog_posts %}
    {% for blog in blog_posts %}
        <h2><a href="{% url cms:blog_post_url pk=blog.author.pk blog_pk=blog.pk %}">{{ blog.title }}</a>
        <small>by <a href="{% url cms:profile_url pk=blog.author.pk %}">{{ blog.author.user.get_full_name }}</a> &ndash; {{ blog.date|date:"F j" }} &ndash; {{ blog.date|date:"H:i" }}</small></h2>
    {% endfor %}

    {% if is_paginated %}
        <div>
        {% if page_obj.has_previous %} <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a> {% endif %}
        Page {{ page_obj.number }} of {{ paginator.num_pages }}
        {% if page_obj.has_next %} <a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a> {% endif %}
        </div>
        <div>
        {% for page in paginator.page_range %}
            <a href="?page={{ page }}">{{ page }}</a>
        {% endfor %}
        </div>
    {% endif %}
{% else %}
    No blogs available.
{% endif %}
{% endblock content %}
