{% extends 'base.html' %}

{% load filters %}

{% block title %}Blogs {{ month|month_name }} {{ year }}{% endblock title %}

{% block extrajs %}

{% endblock %}

{% block content %}
<div><a href="{% url cms:blogs_month_url year=prev_year month=prev_month %}">&laquo; Blogs {{ prev_month|month_name }} {{ prev_year }}</a>
<a style="float: right;" href="{% url cms:blogs_month_url year=next_year month=next_month %}">Blogs {{ next_month|month_name }} {{ next_year }} &raquo;</a>
</div>

<h1>Blogs {{ month|month_name }} {{ year }}</h1>

{% if blog_posts %}
    {% for blog in blog_posts %}
        <h2><a href="{% url cms:blog_post_url pk=blog.author.pk blog_pk=blog.pk %}">{{ blog.title }}</a>
        <small>by <a href="{% url cms:profile_url pk=blog.author.pk %}">{{ blog.author.user.get_full_name }}</a> &ndash; {{ blog.date|date:"F j" }} &ndash; {{ blog.date|date:"H:i" }}</small></h2>
    {% endfor %}
{% else %}
    No blogs are available.
{% endif %}
{% endblock content %}
