{% extends 'base.html' %}

{% load filters %}

{% block title %}Blogs {{ month|month_name }} {{ year }}{% endblock title %}

{% block head %}
<h1>Blogs</h1>
{% endblock head %}

{% block content %}
<h4 class="span-6"><a href="{% url cms:blogs_month_url year=prev_year month=prev_month %}">&laquo; Blogs {{ prev_month|month_name }} {{ prev_year }}</a></h4>
<h2 class="span-12" style="text-align: center;">Blogs {{ month|month_name }} {{ year }}</h2>
<h4 class="span-6 last" style="text-align: right;"><a href="{% url cms:blogs_month_url year=next_year month=next_month %}">Blogs {{ next_month|month_name }} {{ next_year }} &raquo;</a></h4>

{% if blog_posts %}
    {% include 'blogs/blog_badge.html' %}
{% else %}
    No blogs available.
{% endif %}

{% if is_paginated %}
    <div class="span-24 last" style="text-align: center;">
    Page {{ page_obj.number }} of {{ paginator.num_pages }}<br />
    {% if page_obj.has_previous %} <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a> {% endif %}
    {% for page in paginator.page_range %}
        <a href="?page={{ page }}">{{ page }}</a>
    {% endfor %}
    {% if page_obj.has_next %} <a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a> {% endif %}
    </div>
{% endif %}

{% endblock content %}
