{% extends 'base.html' %}

{% block title %}Add a new blog post{% endblock title %}

{% block extracss %}
<style type="text/css">
select#id_tags {
    height: 100px;
}
</style>
{% endblock extracss %}

{% block extrajs %}
<script type="text/javascript">
    $(document).ready(function() {
        $('textarea').css('width', '400px');

        AnyTime.picker("id_date", {
            format: "%Y-%m-%d %H:%i:%s"
        });

        $('#tag').focus(function() {
            $(this).val('');
        });

        $('#add_tag').click(function() {
            var new_value = parseInt($('#id_tags option:last').val()) + 1;
            var new_tag = $('#tag').val();

            if(new_tag.length) {
                var child = $('#id_tags option:[text="' + new_tag + '"]');

                if(!child.length) {
                    var csrf = $('input[name=csrfmiddlewaretoken]').val();
                    $.post('{% url cms:tag_cloud_url %}', {
                        'tag': new_tag,
                        'blog_id': {{ blog.pk }},
                        'member_id': {{ member.pk }},
                        'csrfmiddlewaretoken': csrf
                    });

                    $('#id_tags').append('<option value="' + new_value + '">' + new_tag + '</option>');
                } else {
                    var value = $('#id_tags option:[text="' + new_tag + '"]').val();
                    $('#id_tags option:[value=' + value + ']').attr('selected', 'selected');
                }
            } else {
                alert('Cannot have an empty tag');
            }
        });
    });
</script>
{% endblock extrajs %}

{% block content %}
{% if form.is_multipart %}
<form id="editBlogForm" width="700px" method="post" enctype="multipart/form-data" action="{% url cms:edit_blog_url pk=blog.author.pk blog_pk=blog.pk %}">
{% else %}
<form id="editBlogForm" width="700px" method="post" action="{% url cms:edit_blog_url pk=blog.author.pk blog_pk=blog.pk %}">
{% endif %}
    {% csrf_token %}
    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                <div class="formlyRequired" style="display: block">
                    {{ field.label }}: {{ field.errors|first }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <fieldset>
        <legend>Add Post</legend>
        {% for field in form %}
        <div class="clearfix">
            <label for="id_{{ field.name }}">{{ field.label }}</label>
            <div class="input">
                {% if field.label == 'Tags' %}
                    {{ field }}<br />
                    <input type="text" id="tag" value="Or add a tag..." /> <input type="button" class="btn" id="add_tag" value="Add" />
                {% else %}
                    {{ field }}
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="actions">
            <input type="submit" class="btn primary" value="Edit Post" />
            <button class="btn">Cancel</button>
    </fieldset>
</form>
{% endblock content %}
