{% extends 'website/base.html' %}

{% block title %}Members{% endblock title %}

{% block content %}
<div><a href="{% url website:members_year_url year=prev_year%}">&laquo; Members {{ prev_year }}</a>
<div style="float: right;"><a href="{% url website:members_year_url year=next_year%}">Members {{ next_year }} &raquo;</a></div>
</div>
<h1>Members {{ year }}</h1>
{% if members %}
<article>
<div class="span-12">
	{% for member in members %}
		<h2><a href="{% url website:profile_url pk=member.pk %}">{{ member }}</a></h2>
	{% endfor %}
</div>
</article>
{% else %}
No members available.
{% endif %}
{% endblock content %}
