{% extends 'website/base.html' %}

{% block title %}
    {% if member.user == user %}
        Your Profile
    {% else %}
        {{ member }}'s Profile
    {% endif %}
{% endblock title %}

{% block extrajs %}
<script type="text/javascript">
	/*$('document').ready(function() {
		var els = $('dd');

		for(var i = 0; i < els.length; i++) {
			$(els[i]).click(function() {
				var name = $(this).prev().html().toLowerCase();

				if($(this).html().indexOf('input') == -1 && $(this).html().indexOf('textarea') == -1) {
					if(name == 'city' || name == 'homepage') {
						$(this).html('<input type="text" name="' + name + '" id="id_' + name + '" value="' + $(this).html() + '" />');
					}

					if(name == 'interests' || name == 'blurb') {
						$(this).html('<textarea rows="6" style="width: 400px" name="'
							+ name + '" id="id_' + name + '">' + $(this).html() + '</textarea>');
					}
				}
			}).blur(function() {
				if($(this).html().indexOf('input') != -1) {
					console.log('blurred')
					$(this).html('<dd>' + $(this).attr('value'));
				}
			}).submit(function(e) {
				e.preventDefault();
			});
		}
	});*/
</script>
{% endblock extrajs %}

{% block content %}
<h1>{{ member }} {% if member.user == user %}<small><a href="{% url website:edit_profile_url pk=member.pk %}">edit</a></small> {% endif %}
<small><a href="{% url website:blog_url pk=member.pk %}">blog posts</a></small>
</h1>
<img class="span-6" src="{{ MEDIA_URL }}{{ member.image }}" width="33%" />
<dl class="span-10 last">
<dt>Group</dt> <dd>{{ member.group }}</dd>
{% if member.classification %}
<dt>Classification</dt> <dd>{{ member.classification }}</dd>
{% endif %}
<dt>City</dt> <dd>{{ member.city }}</dd>
<dt>State</dt> <dd>{{ member.state }}</dd>
<dt>Interests</dt> <dd>{{ member.interests }}</dd>
<dt>Homepage</dt> <dd>{% if member.homepage %}<a href="{{ member.homepage }}">{{ member.homepage }}</a>{% else %}None{% endif %}</dd>
<dt>Blurb</dt> <dd>{{ member.blurb }}</dd>
</dl>
{% endblock content %}







