.badge{
    width: 650px;
    height: 75px;
    padding: 5px;
    clear: both;
    margin-bottom: 20px;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}
.badge h2 {
    line-height: 24px;
}
.badge .member_pic{
    width: 75px;
    height: 75px;
    float: left;
}
.badge .member_info{
    float: left;
    width: 350px;    
    margin-left: 10px;
}
.badge .member_participation{
    float: left;    
    margin-left: 5px;
}
